@use "../components/variables" as *;
@mixin grad-2 {
    background-image: linear-gradient($white, $secondary);
}

@mixin iconColor {
    width: 60px;
    height: 60px;
    background-color: $secondary;
    font-size: 30px;
    text-align: center;
    line-height: 60px;
    border-radius: 50%;
    color: white;
    margin-right: 10px;
}

@mixin grad-3 {
    background-image: linear-gradient( rgba($white, $alpha: 0.1), rgba($primary, $alpha: 0.7));
}